* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.container-ext {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.biglietto {
  width: 80%;
  min-width: 400px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url("http://s1.picswalls.com/wallpapers/2014/08/16/train-backgrounds_072800178_211.jpg");
  background-size: cover;
  background-position: center;
  border: 1px solid white;
  position: relative;
}

.layover {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.titolo {
  width: 50%;

  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 10;
}

.text {
  font-size: 6vw;
  font-weight: 800;
  background-color: white;
  color: black;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  mix-blend-mode: screen;
}

p {
  font-size: 2.5vw;
  font-weight: 400;
  color: rgb(214, 212, 212);
  text-transform: capitalize;
}

span {
  font-size: 3vw;
  font-weight: 800;
}
