* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  background-color: #333;
}

.container-ext {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 800px;
  height: 600px;
  background-color: aquamarine;
  background-image: url("http://s1.picswalls.com/wallpapers/2014/08/16/train-backgrounds_072800178_211.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.layover {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.titolo {
  width: 50%;
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 46px;
  background-color: black;
  color: white;
  padding: 5px;
  position: relative;

  z-index: 10;
  text-align: center;
}

p {
  font-size: 24px;
  font-weight: 400;
  color: white;
  position: relative;
  z-index: 10;
  text-transform: capitalize;
}

span {
  font-size: 32px;
  font-weight: 800;
  position: relative;
  z-index: 10;
}
