* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.container-ext {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.biglietto {
  width: 80%;
  min-width: 400px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fhdqwalls.com%2Fdownload%2Ftrain-rail-5k-gv-1920x1080.jpg&f=1&nofb=1");
  background-size: cover;
  background-position: center;

  position: relative;
}

.layover {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.titolo {
  width: 50%;

  display: flex;
  justify-content: center;
}

.info {
  height: 30%;
  width: 50%;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  position: relative;
  z-index: 10;
}

.text {
  font-size: 5.8vw;
  font-weight: 800;
  letter-spacing: 1.7;
  line-height: 0.8;
  background-color: white;
  color: black;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  mix-blend-mode: screen;
  position: relative;
}

.arrow-right {
  position: absolute;
  color: white;
  font-size: 4vw;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

p {
  font-size: 2.5vw;
  font-weight: 400;
  color: rgb(214, 212, 212);
  text-transform: capitalize;
}

span {
  font-size: 2.8vw;
  font-weight: 800;
}
