* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  background-color: #333;
}

.container-ext {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 800px;
  height: 600px;
  background-color: aquamarine;
  background-image: url("http://s1.picswalls.com/wallpapers/2014/08/16/train-backgrounds_072800178_211.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}

h1 {
  background-color: #5d5db696;
  color: white;
  padding: 10px;
}

p {
  font-size: 28px;
  font-weight: 600;
  color: white;
  background-color: rgba(0, 0, 0, 0.527);
}

span {
  font-size: 32px;
  font-weight: 800;
}
